<div>
    <form class = 'by-initial'>
        <a href="{% url "colección:listar" letra="a" %}">A</a>
        <a href="{% url "colección:listar" letra="b" %}">B</a>
        <a href="{% url "colección:listar" letra="c" %}">C</a>
        <a href="{% url "colección:listar" letra="d" %}">D</a>
        <a href="{% url "colección:listar" letra="e" %}">E</a>
        <a href="{% url "colección:listar" letra="f" %}">F</a>
        <a href="{% url "colección:listar" letra="g" %}">G</a>
        <a href="{% url "colección:listar" letra="h" %}">H</a>
        <a href="{% url "colección:listar" letra="i" %}">I</a>
        <a href="{% url "colección:listar" letra="j" %}">J</a>
        <a href="{% url "colección:listar" letra="k" %}">K</a>
        <a href="{% url "colección:listar" letra="l" %}">L</a>
        <a href="{% url "colección:listar" letra="m" %}">M</a>
        <a href="{% url "colección:listar" letra="n" %}">N</a>
        <a href="{% url "colección:listar" letra="ñ" %}">Ñ</a>
        <a href="{% url "colección:listar" letra="o" %}">O</a>
        <a href="{% url "colección:listar" letra="p" %}">P</a>
        <a href="{% url "colección:listar" letra="q" %}">Q</a>
        <a href="{% url "colección:listar" letra="r" %}">R</a>
        <a href="{% url "colección:listar" letra="s" %}">S</a>
        <a href="{% url "colección:listar" letra="t" %}">T</a>
        <a href="{% url "colección:listar" letra="u" %}">U</a>
        <a href="{% url "colección:listar" letra="v" %}">V</a>
        <a href="{% url "colección:listar" letra="w" %}">W</a>
        <a href="{% url "colección:listar" letra="x" %}">X</a>
        <a href="{% url "colección:listar" letra="y" %}">Y</a>
        <a href="{% url "colección:listar" letra="z" %}">Z</a>

    </form>
</div>